.form {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
}



.form-subSection {
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: right;
   
}
label{
display: flex;
flex-direction: column;
justify-content: center;
}

.form-section{
  text-align: center;
  background-color: rgb(218, 218, 218);
  padding:12px
}



@keyframes rojoAAzul {
  from {
    background-color: rgb(255, 83, 71);
  }
  to {
    background-color: #0d6efd;
  }
}

.btnSubmit {
  margin: auto;
  display: block;
  border:none;
 
}

.btnSubmit-invalido {
  animation-name: rojoAAzul;
  animation-duration: 2s;
}

@media only screen and (max-width: 783px) {
  .form {
    width: 95%;
    margin: auto;
  }
  .form-control{
    height: 45px !important;
  }
  .form-label{
    height: 40px !important;
  }
}
@media only screen and (max-width: 1200px) {
  
  .form-control{
    height: 45px !important;
  }
  .form-label{
    height: 40px !important;
  }
}


